List<CarWashAsp.Net.Models.Produto>

@{
    ViewData["Title"] = "Dashboard do CarWash - Produtos";
}

<div class="main-content">
    <header>
        <h1>Produtos do Carwash</h1>
        <button href="@Url.Action("AdicionarProduto", "Dashboard")" class="add-btn" id="newProductBtn">+ Novo Produto</button>
    </header>

    <section class="table-section">
        <table id="productTable">
            <thead>
                <tr>
                    <th>Tipo de Produto</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr data-id="@produto.Id">
                        <td>@produto.TipoProduto</td>
                        <td>@produto.Quantia</td>
                        <td>
                            <button href="@Url.Action("EditarProduto", "Dashboard", new { id = produto.Id })" class="edit-btn" onclick="editProduct(this)">Editar</button>
                            <a href="@Url.Action("RemoverProduto", "Dashboard", new { id = produto.Id })" class="delete-btn" style="text-decoration:none">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <!-- Modal para Novo Produto -->
    <div id="productModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Novo Produto</h2>
            <form id="productForm">
                <input type="hidden" id="idProduto" name="idProduto" />

                <label for="tipoProduto">Tipo de Produto:</label>
                <select id="tipoProduto" name="tipoProduto" required>
                    <option value="DETERGENTE">Detergente</option>
                    <option value="CERA">Cera</option>
                    <option value="SPRAY">Spray</option>
                </select>

                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>

                <button type="submit" id="submitProduct">Adicionar Produto</button>
            </form>
        </div>
    </div>
</div>

