@model List<CarWashAsp.Net.Models.Produto>

@{
    ViewData["Title"] = "Dashboard do CarWash - Produtos";
}

<div class="main-content">
    <header>
        <h1>Produtos do Carwash</h1>
        <div class="btn-prod">
            <button onclick="window.location.href='@Url.Action("AbrirRemoverProduto", "Dashboard")'" class="rmQuantidade-btn" id="newProductBtn">Remover</button>
            <button onclick="window.location.href='@Url.Action("AbrirAdicionarProduto", "Dashboard")'" class="add-btn" id="newProductBtn">+ Adicionar Produto</button>
        </div>
    </header>

    <section class="table-section">
        <table id="productTable">
            <thead>
                <tr>
                    <th>Tipo de Produto</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in Model)
                {
                    <tr data-id="@produto.Id">
                        <td>@produto.TipoProduto</td>
                        <td>@produto.Quantia</td>
                        <td>
                            <button class="edit-btn" onclick="editProduct(this)">Editar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    
</div>

