@model List<CarWashAsp.Net.Models.Agendamento>

@{
    ViewData["Title"] = "Relatorio do CarWash";
}

<div class="main-content">
    <header>
        <h1>Relaroio de Carwash</h1>
    </header>
    <form method="get" action="@Url.Action("Relatorio", "Dashboard")">
        <label for="periodo">Filtrar por Periodo:</label>
        <select id="periodo" name="periodo">
            <option value="">Dia</option>
            <option value="Semana">Semana</option>
            <option value="Mez">Mez</option>
            <option value="Ano">Ano</option>
        </select>
        <button type="submit" style="margin-bottom: 20px">Filtrar</button>
    </form>
    <section class="table-section">
        <table id="appointmentTable">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Plano</th>
                    <th>Servico</th>
                    <th>Placa</th>
                    <th>Data do Agendamento</th>
                    <th>Preco</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var agendamento in Model)
                {
                    <tr>
                        <td>@agendamento.NomeCliente</td>
                        <td>@agendamento.Plano</td>
                        <td>@agendamento.Servico</td>
                        <td>@agendamento.PlacaCarro</td>
                        <td>@agendamento.DataAgendamento.ToString("dd/MM/yyyy")</td>
                        <td>@agendamento.Preco MZ</td
                    </tr>
                }
            </tbody>
        </table>
        <h3 style="color: red">Lucros: @ViewBag.LucroTotal MZ</h3>
    </section>
    
</div>
